<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
	        {% for link in site.links %}
			<li>
				{% if link.external %}
					<a href="{{ link.url }}">{{ link.title }}</a>
				{% else %}
					<a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
				{% endif %} 
			</li>
	        {% endfor %}
	        <li><a href="mailto:{{ site.email }}" title="Contatti"><i class="icon-envelope"></i> Contattaci</a></li>


	        {% if site.search %}
	        <li>
		        <form action="/search/search.html" method="get">
		        	<i class="icon-search"></i>
					<input type="text" class="search-field" id="search-query" name="q" placeholder="Search.." autocomplete="off">
				</form>
	        </li>
	        {% endif %}

			{% if site.search %}
	        <li id="search-results" style="display: none;">
				<section>
				  <div class="entries"></div>
				</section>
	        </li>
	        {% endif %}

	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}

