/* COLORI 
 * -------------------------- */

$backgroundColorBasic: #ffffff;
$fontColorBasic: #555;
$footerFontColor: #555;
$footerFontColorLinkOver: #04BE04;
$green: #04BE04;
$white: #fff;
$black: #000;
$greenOpacity: rgba(10, 92, 10, 0.7);
$whiteOpacity: rgba(255, 255, 255, 0.85);