---
---

@import "color";

/* COMMON */

a {
    color: $fontColorBasic;
    text-decoration: none;
    &:hover {
        color: $footerFontColorLinkOver;
    }
}

.clearfix {
    clear: both;
}

::-moz-selection {
    color: #343434;
    text-shadow: none;
    background-color: #dadada;
}
::selection {
    color: #343434;
    text-shadow: none;
    background-color: #dadada;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.2);
}
.wrap {
    margin: 0 auto;
}
.all-caps {
    text-transform: uppercase;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.unstyled-list {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}
.unstyled-list li {
    list-style-type: none;
}
b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
body {
    font-family: 'source-sans-pro', sans-serif;
    color: #222;
    background-image: url(/images/sfondo.gif);
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'source-sans-pro', sans-serif;
}

@media only screen and (min-width:48em) {
    h1 {
        font-size: 52px;font-size: 3.25rem;
    }
    h4 {
        font-size: 22px;font-size: 1.25rem;
    }
}

@media only screen and (min-width:62.5em) {
    h1 {
        font-size: 42px;font-size: 2.75rem;
    }
}

/* SEARCH */

.navigation-wrapper form {
    display: block;
    padding: 6px 10px;
}

.search-field {
    font-size: 12px;
    color: #fff;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    box-shadow: none;
    background-clip: padding-box;
    -webkit-appearance: none;
}
.search-field:focus {
    outline: 0;
    box-shadow: none;
}

.search-form ::-webkit-input-placeholder {
    font-size: 32px;
    font-size: 2rem;
}
.icon-remove-sign {
    position: absolute;
    top: .6rem;
    right: 1rem;
    z-index: 1;
    display: block;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.search-field::-webkit-search-decoration, .search-field::-webkit-search-cancel-button, .search-field::-webkit-search-results-button, .search-field::-webkit-search-results-decoration {
    display: none;
}

#search-results {
    clear: both;
    width: 100%;
    padding-top: 10px;
}

#search-results section{
    text-align: left;
    padding: 0 10px 0 10px;
}

#search-results p {
    margin: 0;
}

#search-results ul {
    width: 100%;
    padding: 0px;
}

#search-results li {
    float: none;
    text-align: left;
}

/* SITE */

.masthead {
    margin-top: 40px;
    *zoom: 1;
}

.masthead:before, .masthead:after {
    display: table;
    line-height: 0;
    content: "";
}

.masthead:after {
    clear: both;
}

.masthead .wrap {
    max-width: 27.5em;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}
@media only screen and (min-width:48em) {
    .masthead .wrap {
        max-width: 45.5em;
        padding-right: 60px;
        padding-left: 60px;
    }
}
@media only screen and (min-width:62.5em) {
    .masthead .wrap {
        max-width: 60em;
    }
}


.site-title {
    margin-bottom: 0;
    -webkit-animation-delay: .75s;
    -moz-animation-delay: .75s;
    -o-animation-delay: .75s;
    animation-delay: .75s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.site-title a {
    color: $green;
    background: $white;
}

.site-description {
    margin-top: 0;
    font-family: 'volkhov', serif;
    font-size: 16px;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    background: $white;
}

@media only screen and (min-width:48em) {
    .site-description {
        font-size: 20px;
        font-size: 1.25rem;
    }
}


/* NAVIGATION */

.pagination {
    text-align: center;
}

.navigation-wrapper {
    text-align: center;
    *zoom: 1;
}

.navigation-wrapper:before, .navigation-wrapper:after {
    display: table;
    line-height: 0;
    content: "";
}

.navigation-wrapper:after {
    clear: both;
}

.navigation-wrapper ul {
    display: inline-block;
    padding: 4px 20px;
    margin: 0 0 0px;
    vertical-align: top;
    background-color: #000;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    *zoom: 1;
}

.navigation-wrapper ul:before, .navigation-wrapper ul:after {
    display: table;
    line-height: 0;
    content: "";
}

.navigation-wrapper ul:after {
    clear: both;
}

.navigation-wrapper li {
    display: block;
    float: left;
    font-size: 14px;
    font-size: .875rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    list-style: none;
}

.navigation-wrapper li a:hover {
    -webkit-box-shadow: inset 0 0 1px #fff;
    -moz-box-shadow: inset 0 0 1px #fff;
    box-shadow: inset 0 0 1px #fff;
}

.navigation-wrapper a {
    display: block;
    padding: 8px 10px 6px 10px;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.navigation-wrapper a:hover {
    background-color: #1a1a1a;
}



/* ASIDE */

aside {
    display: block;
    width: 100%;
    max-width: 640px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    font-size: 14px;
    font-size: .875rem;
    text-transform: uppercase;
}

.entry-meta a {
    color: #222;
}

@media only screen and (min-width:62.5em) {
    .entry-meta {
        float: left;
        width: 120px;
        padding: 0;
        margin: 0 40px 40px 0;
    }
}

.entry-meta>span {
    display: inline-block;
    padding: 0 20px 10px 0;
}

@media only screen and (min-width:62.5em) {
    .entry-meta>span {
        display: block;
        padding: 8px 0;
        border-bottom: 1px solid #ccc;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

/* FOOTER */

.footer-wrapper {
    margin: 2em auto;
    font-family: 'volkhov', serif;
    font-size: 14px;
    font-size: .875rem;
    font-style: italic;
    color: $footerFontColor;
    text-align: center;
    *zoom: 1;
}

.footer-wrapper:before, .footer-wrapper:after {
    display: table;
    line-height: 0;
    content: "";
}

.footer-wrapper:after {
    clear: both;
}

.footer-wrapper a {
    color: $footerFontColor;
}

footer {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	position: static;
	bottom: 10px;
}

footer .social-icons {
	margin: 0 auto;
	text-align: center;
}

footer .social-icons a {
	padding: 4px 8px;
	text-decoration: none;
	&:hover {
    	color: $footerFontColorLinkOver;
  	}
}

/* ENTRY */

.entry-feature-image-wrapper {
    position: relative; 
    width: 100%; /* for IE 6 */
}

.entry-feature-image-wrapper h1 { 
    position: absolute; 
    top: -20px; 
    left: 0; 
    padding-left: 5px;
}

.entry-feature-image-wrapper h1 span { 
   color: $backgroundColorBasic; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
   top: 5px;
}

.entry-feature-image-wrapper span.spacer {
   padding:0 5px;
}

.entry-feature-image {
    margin-right: auto;
    margin-left: auto;
}

.entry-tags {
    display: block;
    margin-top: 2em;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.entry-tags a {
    color: #222;
}

.entry-wrapper {
    /* max-width: 440px; */
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto 3em;
    padding: 3px;
    background: $whiteOpacity;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    *zoom: 1;
}

.entry-wrapper:before, .entry-wrapper:after {
    /* display: table; */
    line-height: 0;
    content: "";
}

.entry-wrapper footer {
    position: static;
    bottom: 0px;
}

.entry-wrapper:after {
    clear: both;
}

@media only screen and (min-width:48em) {
    .entry-wrapper {
	    max-width: 640px;
	}
}

@media only screen and (min-width:62.5em) {
    .entry-wrapper {
	    max-width: 960px;
	}
}

.entry-title {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'volkhov', serif;
    font-style: italic;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -3px;
    /*font-size: 36px;font-size: 2.25rem;*/
}

.entry-title a {
    color: #000;
    text-decoration: underline;
}

@media only screen and (min-width:48em) {
    .entry-title {
    max-width: 600px;
	}
}

@media only screen and (min-width:62.5em) {
    .entry-title {
	    max-width: 640px;
	}
}

.entry-header {
    width: 100%;
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (min-width:62.5em) {
    .entry-header {
	    max-width: 100%;
	    margin-right: 0;
	    margin-left: 0;
	}
}

.entry-content {
    width: 100%;
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
}

.entry-content p:first-child {
    margin-top: 0;
}

.entry-content p>a, .entry-content li>a {
    border-bottom: 1px dotted #a2a2a2;
}

.entry-content p>a:hover, .entry-content li>a:hover {
    border-bottom-style: solid;
}

/* POST ENTRY */

.post-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: block;
}

.post-list li {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    *zoom: 1;
}

.post-list li:before, .post-list li:after {
    display: table;
    line-height: 0;
    content: "";
}

.post-list li:after {
    clear: both;
}

.post-list a>span {
    float: right;
}

.post-list .entry-date {
    display: none;
    font-size: 14px;
    font-size: .875rem;
    text-transform: uppercase;
}

@media only screen and (min-width:48em) {
    .post-list .entry-date {
    	display: inline;
	}
}

.image-credit {
    max-width: 440px;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.7143;
    line-height: 1.3;
    color: #6f6f6f;
    text-align: right;
    *zoom: 1;
}
.image-credit:before, .image-credit:after {
    display: table;
    line-height: 0;
    content: "";
}
.image-credit:after {
    clear: both;
}
@media only screen and (min-width:48em) {
    .image-credit {
        max-width: 760px;
        padding-right: 60px;
        padding-left: 60px;
    }
}
@media only screen and (min-width:62.5em) {
    .image-credit {
        max-width: 960px;
    }
}
.image-credit a {
    color: #6f6f6f;
}

/* TWEET */
.twitter-tweet, .twitter-tweet-rendered {
    text-align: center;
}

/* To center images */
.center {
    text-align: center;
}