.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

#navbarcontaier {
  text-align: center;
  font-family: 'source-sans-pro', sans-serif;
}

.navbar {
  background-color: black !important;
  color: white;
}

.navbar a, a:visited, a:hover {
  color: white;
  text-decoration: none;
  padding: 3px;
  font-size: 14px;
}
