.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

#navbarcontaier {
  text-align: center;
}

.navbar {
  background-color: black !important;
  color: yellow;
}

.navbar a, a:visited, a:hover {
  color: yellow;
  text-decoration: none;
  border: 1px solid yellow;
  padding: 3px;
}
