<!-- anagrafica E/G -->
<!--The whole content below can be removed with the new code.-->
<div>
  <h3>Anagrafica di Reparto</h3>
  <p>I campi obbligatori sono contrassegnati da <abbr title="required">*</abbr>.</p>
  <form class="anagrafica-form" [formGroup]="egForm" (ngSubmit)="save(egForm.value)">
    <fieldset>
      <legend>Me</legend>

      <p>
        <label for="sesso">
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <mat-error *ngIf="invalidFieldSex">Selezionare uno dei due sessi</mat-error>
        <mat-radio-group id="sesso" formControlName="sesso" name="sesso" aria-required="true">
          <mat-radio-button value="M" aria-label="Ragazzo">Ragazzo</mat-radio-button>
          <mat-radio-button value="F" aria-label="Ragazza">Ragazza</mat-radio-button>
        </mat-radio-group>
      </p>

      <p>
      <label for="nome">
        <strong><abbr title="required">*</abbr></strong>
      </label>
      <mat-form-field class="input-full-width">
        <input matInput formControlName="nome" placeholder="nome" aria-required="true" required=true value="" id="nome" name="nome">
      </mat-form-field>
      </p>


      <p>
        <label for="cognome">
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="cognome" formControlName="cognome" aria-required="true" required=true value="" id="cognome" name="cognome">
        </mat-form-field>
      </p>

      <p>
        <label for="dtnascita">
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <mat-form-field>
          <!-- <input matInput formControlName="dtnascita" aria-required="true" required=true [mdDatepicker]="picker" [min]="minDate" [max]="maxDate" id="dtnascita" name="dtnascita" placeholder="Data nascita"> -->
          <!-- <button mdSuffix [mdDatepickerToggle]="picker"></button> -->
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
      </p>

      <p>
        <label for="telefono">
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <mat-form-field id="telefono" name="telefono">
          <span mdPrefix>+39 &nbsp;</span>
          <input type="tel" matInput placeholder="Telefono" aria-required="true" required=true formControlName="telefono">
        </mat-form-field>
      </p>

      <p>
        <label for="specialita">
          <span>Specialita: </span>
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <mat-grid-list mat-gutter="8px" cols="2" rowHeight="50px">
          <mat-grid-tile *ngFor="let specialita of eg.specialita; let i=index">
              <mat-checkbox (change)="changeSpecialitaPosseduta($event, i)" [id]="specialita.slug" [checked]="specialita.selected" >{{specialita.nome}}</mat-checkbox>
          </mat-grid-tile>
        </mat-grid-list>
      </p>

    </fieldset>
    <fieldset formGroupName="indirizzo">
      <legend>Indirizzo</legend>

      <p>
        <label for="via">
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="via" aria-required="true" required=true value="" id="via" name="via" formControlName="via">
        </mat-form-field>
      </p>

      <p>
        <label for="ncivico">
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="ncivico" aria-required="true" required=true value="" id="ncivico" name="ncivico" formControlName="ncivico">
        </mat-form-field>
      </p>

      <p>
        <label for="cap">
          <strong></strong>
        </label>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="cap" value="" id="cap" name="cap" formControlName="cap">
        </mat-form-field>
      </p>

      <p>
        <label for="citta">
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="citta" aria-required="true" required=true value="" id="citta" name="citta" formControlName="citta">
        </mat-form-field>
      </p>

      <p>
        <label for="provincia">
          <strong></strong>
        </label>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="provincia" value="" id="provincia" name="provincia" formControlName="provincia">
        </mat-form-field>
      </p>

    </fieldset>
    <fieldset formGroupName="social">
      <legend>Social</legend>

      <p>
        <label for="nickname">
          <strong></strong>
        </label>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="nickname" value="" id="nickname" name="nickname" formControlName="nickname">
        </mat-form-field>
      </p>

      <p>
        <label for="facebook">
          <strong></strong>
        </label>
        <mat-form-field>
          <span mdPrefix>https://facebook.com/ &nbsp;</span>
          <input type="text" matInput id="facebook" name="facebook" placeholder="" formControlName="facebook">
          <mat-icon mdSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <label for="blog">
          <strong></strong>
        </label>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="blog" value="" id="blog" name="blog" formControlName="blog">
        </mat-form-field>
      </p>

      <p>
        <label for="instagram">
          <strong></strong>
        </label>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="instagram" value="" id="instagram" name="instagram" formControlName="instagram">
        </mat-form-field>
      </p>

      <p>
        <label for="email">
          <strong></strong>
        </label>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Email" id="email" name="email" formControlName="email">
        </mat-form-field>
      </p>

    </fieldset>
    <fieldset formGroupName="reparto">
      <legend>DatiReparto</legend>
      <p>
        <label for="nomereparto">
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Nome del Reparto" value="" aria-required="true" required=true id="nomereparto" name="nomereparto" formControlName="nomereparto">
        </mat-form-field>
      </p>

      <p>
        <label for="nomesquadriglia">
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Nome della Squadriglia" value="" aria-required="true" required=true id="nomesquadriglia" name="nomesquadriglia" formControlName="nomesquadriglia">
        </mat-form-field>
      </p>

      <p>
        <label for="nomegruppo">
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Nome del Gruppo (Es: RIMINI 9)" aria-required="true" required=true value="" id="nomegruppo" name="nomegruppo" formControlName="nomegruppo">
        </mat-form-field>
      </p>

      <p>
        <label for="zona">
          <strong><abbr title="required">*</abbr></strong>
        </label>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Nome della Zona (Es: Vicenza Piccole Dolomiti)" aria-required="true" required=true value="" id="zona" name="zona" formControlName="zona">
        </mat-form-field>
      </p>

    </fieldset>

    <button type="submit" mat-raised-button>Salva</button>

  </form>

</div>
