<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<!-- default template -->

<!--

    Hey, Stai cercando di fare Reverse Engineering?
    Perche' non ti unisci a noi ?

    Cercarci su https://github.com/BitPrepared :)
-->

  <head>
    {% include head.html %}
  </head>

  <body id="page">

    <div class="navigation-wrapper">
      {% include navigation.html %}
    </div>

    <div id="main" role="main">
      {{ content }}
    </div><!-- /#main -->

    <div id="sidebar">
      <article class="entry-content">
        {% include tweet.html %}
      </article>
    </div>

    <div class="footer-wrapper">
      <footer>
        {% include footer.html %}
      </footer>
    </div>
  </body>

</html>
